* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 30px;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

#view {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: lightgray;
    margin: 5px;
}

#flex-container {
    background: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    resize: both;
    overflow: scroll;
    margin: 0px auto;
}

.flex-item {
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ccc;
    background: lightsalmon;
}

.flex-item p.number {
    text-align: center;
    margin: 0px;
}
    
#control {
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    list-style-type: none;
}

#control li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

#control li:first-child {
    margin: 0px;
}

#control li .description {
    grid-column: 1 / span 2;
    color: gray;
}

button {
    cursor: pointer;
}

.generated-code-section {
    margin: 5px;
}

#code-preview {
    background: #333;
    color: white;
    padding: 0px 20px 20px;
}

/* helper classes */
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}